@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap");
body {
  font-family: monospace;
  margin: 0;
}

body header {
  background-color: #ffffff;
  text-align: center;
  padding: 5%;
  border-style: double;
  -webkit-box-shadow: 10px 10px black;
          box-shadow: 10px 10px black;
}

body header h1 {
  font-family: "Satisfy";
}

body a {
  color: #420039;
  text-decoration: none;
}

body a:hover {
  color: #ffffff;
}

main {
  padding-top: 15%;
  text-align: center;
  width: 100%;
  /* Global Button Styles */
}

main button {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  top: 50px;
  text-align: center;
  color: #420039;
  padding: 20px;
}

main nav {
  background: transparent;
  text-align: center;
  display: block;
}

main form {
  width: 50%;
  margin: 2% 7%;
  display: inline-block;
}

main input[type=text],
main input[type=email],
main input[type=password] {
  margin-bottom: 20px;
  margin-top: 10px;
  width: 100%;
  padding: 15px;
}

main input[type=submit] {
  background-color: #ff570a;
  border: none;
  color: #420039;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

main input[type=submit]:hover {
  background: #ffffff;
  opacity: 1;
}

@media (min-width: 840px) {
  main section#demoForm {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

main button.animated-button.thar-one:before .animated-button:link .animated-button:visited, main button.animated-button.thar-one:before button.animated-button.thar-one:before .animated-button:visited {
  position: relative;
  display: block;
  margin: 30px auto 0;
  padding: 14px 15px;
  color: #420039;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  border-radius: 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

main button.animated-button.thar-one:before .animated-button:link:after .animated-button:visited:after, main button.animated-button.thar-one:before button.animated-button.thar-one:before .animated-button:visited:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}

main button.animated-button.thar-one:before .animated-button:link:hover .animated-button:visited:hover, main button.animated-button.thar-one:before button.animated-button.thar-one:before .animated-button:visited:hover {
  color: #420039;
  text-shadow: none;
}

main button.animated-button.thar-one:before .animated-button:link:hover:after .animated-button:visited:hover:after, main button.animated-button.thar-one:before button.animated-button.thar-one:before .animated-button:visited:hover:after {
  height: 450%;
}

button.animated-button.thar-one:before .animated-button:link .animated-button:visited, button.animated-button.thar-one:before button.animated-button.thar-one:before .animated-button:visited {
  position: relative;
  display: block;
  margin: 30px auto 0;
  padding: 14px 15px;
  color: #420039;
  font-size: 14px;
  border-radius: 0;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

button.animated-button.thar-one:before .animated-button.thar-one {
  color: #420039;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid #F7CA18;
  -webkit-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

button.animated-button.thar-one:before .animated-button.thar-one:hover {
  color: #000 !important;
  background-color: transparent;
  text-shadow: none;
}

button.animated-button.thar-one:before .animated-button.thar-one:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}

button.animated-button.thar-one:before {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 0px;
  width: 100%;
  z-index: -1;
  content: '';
  color: #000 !important;
  background: #F7CA18;
  -webkit-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

button.animated-button.thar-two {
  color: #fff;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid #F7CA18;
  -webkit-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

button.animated-button.thar-two:hover {
  color: #000 !important;
  background-color: transparent;
  text-shadow: ntwo;
}

button.animated-button.thar-two:hover:before {
  top: 0%;
  bottom: auto;
  height: 100%;
}

button.animated-button.thar-two:before {
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 0px;
  width: 100%;
  z-index: -1;
  content: '';
  color: #000 !important;
  background: #F7CA18;
  -webkit-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

/*[FOR To-Do Lists]*/
#worktodo-wrap {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.9em;
}

#worktodo-wrap input[type=text] {
  padding: 10px 8px;
}

#worktodo-wrap input[type=button],
#worktodo-wrap input[type=submit] {
  padding: 8px 5px;
  color: #fff;
  background: #6cc9ff;
  border: 2px solid #6cc9ff;
  cursor: pointer;
}

/* [CLEARFIX] */
#worktodo-wrap .clearfix {
  overflow: auto;
}

#worktodo-wrap .clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* [WRAPPER] */
#worktodo-wrap {
  max-width: 500px;
  background: #f2f2f2;
  padding: 20px;
  margin: 0 auto;
}

/* [HEADER] */
#worktodo-wrap h2 {
  font-size: 1.5em;
  margin: 0;
  color: #333;
}

/* [ADD] */
#worktodo-form {
  margin: 10px 0;
}

#worktodo-form input {
  display: block;
  float: left;
}

#worktodo-form input[type=text] {
  width: 85%;
}

#worktodo-form input[type=submit] {
  width: 15%;
  background: #22a4cf;
  border: 2px solid #22a4cf;
}

/* [DELETE] */
/* [LIST ITEMS] */
#worktodo-list .clearfix {
  margin-top: 8px;
}

#worktodo-list .clearfix div, #worktodo-list .clearfix input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  display: block;
}

#worktodo-list .item {
  border: 1px solid #ddd;
  background: #fff;
  width: 80%;
  padding: 10px;
}

#worktodo-list .item.cx {
  background: #ffe1d7;
  text-decoration: line-through;
}

#worktodo-list .item.done {
  background: #dcffd7;
}

#worktodo-list .clearfix input {
  width: 10%;
}

#worktodo-list input.bdone {
  background: #4aa53d;
  border: 2px solid #4aa53d;
}

ul.breadcrumb {
  padding: 8px 16px;
  list-style: none;
  background: transparent;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: #420039;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #d72638;
}

ul.breadcrumb li a:hover {
  color: #ffffff;
}
/*# sourceMappingURL=styles.css.map */