@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap');

/* [Web/Big Screens] */
.container
{
  font-family: monospace;
  font-size: large;
}
.maincontent
{
  padding-top: 15%;
  text-align: center;
  width: 100%;
  background: white;
}
.button
{
  border-radius: 4px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(238,179,13,1) 36%, rgba(255,255,255,1) 100%);
  color: black;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span
{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
a
{
  color: black;
  text-decoration: none;
}
a:hover
{
  color: gold;
}
h1, h2
{
  font-family: "Satisfy";
}
.header
{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(238,179,13,1) 36%, rgba(255,255,255,1) 100%);
  text-align: center;
  padding: 5%;
}
.navbar
{
  background: transparent;
  text-align: center;
  display: inline-block;
}

/*[FOR LANDING PAGE ONLY]*/
ul.breadcrumb {
  padding: 8px 16px;
  list-style: none;
  background-color: #eee;
}

ul.breadcrumb li {display: inline;}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {color: gold;}

ul.breadcrumb li a:hover {color: black;}
/*[Small Screens]*/
@media screen and (max-width: 768px)
{
  .maincontent
  {
    float: none;
    width: 100%;
  }
}