@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap');

/* [Web/Big Screens] */
.container
{
  font-family: monospace;
  font-size: large;
}
.maincontent
{
  padding-top: 15%;
  text-align: center;
  width: 100%;
}
.button
{
  border-radius: 4px;
  background: #eed2c9;
  color: black;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span
{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
a
{
  color: grey;
  text-decoration: none;
}
a:hover
{
  color: #3b3f40;
}
h1, h2
{
  font-family: "Satisfy";
}
.header
{
  background-color: #eed3c9;
  text-align: center;
  padding: 5%;
  border-style: double;
  box-shadow: 10px 10px black;
}
.navbar
{
  background: transparent;
  text-align: center;
  display: inline-block;
}

/*[FOR NAVIGATION ONLY]*/
ul.breadcrumb {
  padding: 4px 8px;
  list-style: none;
  background-color: #eed3c9;
}

ul.breadcrumb li {display: inline;}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {color: grey;}

ul.breadcrumb li a:hover {color: black;}
/*[Small Screens]*/
@media screen and (max-width: 768px)
{
  .maincontent
  {
    float: none;
    width: 100%;
  }
}