@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap');

/* [Web/Big Screens] */

.theme-light {
  --color-primary: #0060df;
  --color-secondary: white;
  --color-accent: #fd6f53;
  --font-color: #000000;
}
.theme-dark {
  --color-primary: #17ed90;
  --color-secondary: #2a2c2d;
  --color-accent: #12cdea;
  --font-color: #ffffff;
}
.theme-colorful{
  --color-primary: #ffb5c2;
  --color-secondary:#ffe9ce;
  --color-accent: #ffe156;
  --font-color: #3777ff;
}
.container {
  display: flex;
  width: 100%;
  height: 100%;
  background-color:  var(--color-secondary);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: large;
}
.container h1 {
  color: var(--font-color);
  font-family: "Satisfy";
}
.container button {
  color: var(--font-color);
  background: var(--color-primary);
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: white url('https://i.ibb.co/FxzBYR9/night.png');
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.maincontent
{
  padding-top: 15%;
  text-align: center;
  width: 100%;
}
.button
{
  font-family: monospace;
  border-radius: 4px;
  background: #6cc9ff;
  color: whitesmoke;
  border-style: double;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button:hover{
  color: black;
}

.button span
{
  color: white;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}

a
{
  color: black;
  text-decoration: none;
}
a:hover
{
  color: whitesmoke;
}
a.button
{
  color: whitesmoke;
}

.header
{
  background-color: #6cc9ff;
  text-align: center;
  padding: 5%;
  border-style: double;
  box-shadow: 10px 10px black;
}

/* [FORMS] */
form
{
    width: 50%;
    margin: 2% 7%;
    display: inline-block;
}

input[type=text], 
input[type=email], 
input[type=password]
{
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
    padding: 15px;
}
input[type=submit]
{
    background-color: #6cc9ff;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-family: "Satisfy";
}
input[type=submit]:hover
{
    background: #6cc9ff;
    opacity: 1;
}
input[type=text]:focus,
input[type=email]:focus, 
input[type=password]:focus
{
    border-color: #6cc9ff;
}
input[type=checkbox]
{
  display: inline-block;
}
.select
{
  display: block;
	font-size: 16px;
	font-family: monospace;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.select::-ms-expand { display: none; }
.select:hover { border-color: #888; }
.select:focus
{
  border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select option { font-weight: normal; }
.button {
    background-color: #6cc9ff;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-family: "Satisfy";
  }
  
.button:hover
{
    background: #6cc9ff;
    opacity: 1;
}

#signUp{
  font-family: monospace;
  font-size: large;
  color: whitesmoke;
  border-style: double;
  background: #6cc9ff;
  padding: 5px 10px;
}

#signUp:hover{
color: black;
}

.textFields{
    display: inline-block;
    justify-content: space-between;
}
/*[FOR NAVIGATION ONLY]*/

ul.breadcrumb {
  padding: 4px 8px;
  list-style: none;
  background-color: #6cc9ff;
}

ul.breadcrumb li {display: inline;}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {color: whitesmoke;}

ul.breadcrumb li a:hover {color: black;} 

/*[Small Screens]*/
@media screen and (max-width: 768px)
{
  .maincontent
  {
    float: none;
    width: 100%;
  }
}

/*[FOR To-Do Lists]*/
#worktodo-wrap
{
  box-sizing: border-box;
  font-size: 0.9em;
}

#worktodo-wrap input[type=text]
{
  padding: 10px 8px;
}

#worktodo-wrap input[type=button],
#worktodo-wrap input[type=submit]
{
  padding: 8px 5px;
  color: #fff;
  background:#6cc9ff;
  border: 2px solid #6cc9ff;
  cursor: pointer;
}

/* [CLEARFIX] */
#worktodo-wrap .clearfix 
{
  overflow: auto;
}

#worktodo-wrap .clearfix::after
{
  content: "";
  display: table;
  clear: both;
}


/* [WRAPPER] */
#worktodo-wrap
{
    max-width: 500px;
    background: #f2f2f2;
    padding: 20px;
    margin: 0 auto;
}

/* [HEADER] */
#worktodo-wrap h2
{
    font-size: 1.5em;
    margin: 0;
    color: #333;
}


/* [ADD] */
#worktodo-form
{
    margin: 10px 0;
}

#worktodo-form input 
{
    display: block;
    float: left;
}

#worktodo-form input[type=text]
{
    width: 85%;
}

#worktodo-form input[type=submit]
{
    width: 15%;
    background: #22a4cf;
    border: 2px solid #22a4cf;
}


/* [DELETE] */
#worktodo-del {}


/* [LIST ITEMS] */
#worktodo-list .clearfix
{
    margin-top: 8px;
}

#worktodo-list .clearfix div, #worktodo-list .clearfix input
{
    box-sizing: border-box;
    float: left;
    display: block;
}

#worktodo-list .item
{
    border: 1px solid #ddd;
    background: #fff;
    width: 80%;
    padding: 10px;
}

#worktodo-list .item.cx
{
    background: #ffe1d7;
    text-decoration: line-through;
}

#worktodo-list .item.done
{
    background: #dcffd7;
}

#worktodo-list .clearfix input {
    width: 10%;
}

#worktodo-list input.bdone
{
    background: #4aa53d;
    border: 2px solid #4aa53d;
}